<header>
  <div class="top-bar">
    <div class="contact-info">
      <i class="fas fa-phone"></i> 123-456-0975
    </div>
    <div class="opening-hours">
      <i class="fas fa-clock"></i> Mon - Sun: 9 am - 11 pm
    </div>
    <div class="header-buttons">
      <a href="#" class="btn">Login</a>
      <a href="#" class="btn">Appointment</a>
    </div>
  </div>

  <nav>
    <div class="logo">    </div>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Care Providers</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

